@import 'ionic';

body
  background-color: lightgray

// room
// room iframe
.fill .scroll
  height: 100%

.info
  position: relative
  z-index: 300
  height: 100%
  background: transparentize(black, 0.3)
.blur
  position: absolute
  top: 0
  -webkit-filter: blur(8px)
  z-index: 100
.desc
  text-align: justify
  color: white
  overflow-y: scroll
  padding: 40px

// room tabs
.tab-low-active.tab-item-active
  opacity: 0.7
  &.activated
    opacity: 1

.prop
  label
    font-weight: bold
  span
    color: royalblue

.report
  position: absolute
  background: none
  width: 50px
  height: 50px
  z-index: 500

.offline
  padding: 10% 0
  font-size: 2rem
  text-align: center
  line-height: 2rem
  background: black
  color: white
  .lg
    font-size: 8rem
