ion-view
  ion-nav-title Empty Room
  ion-tabs.tabs-dark.tabs-icon-top(delegate-handle='roomTab')
    ion-tab.tab-low-active(title='Prev' icon='ion-arrow-left-c' icon-off='ion-arrow-left-c' ng-click='prev()')
      ion-nav-view
    ion-tab(title='Info' icon='ion-ios-information')
    ion-tab.tab-low-active(title='Next' icon='ion-arrow-right-c' icon-off='ion-arrow-right-c' ng-click='next()')
      ion-nav-view
